.custom-snackbar {
    display: flex;
    flex-direction: column;

}

mat-progress-bar {
    margin-top: 10px;
}

.mdc-snackbar__surface{
    background-color: #ff9800;
}

// .success {
//     background-color: #4caf50;
// }

// .warning {
//     background-color: #ff9800;
// }

// .error {
//     background-color: #f44336;
// }