.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 93vh;
    margin: 0;
}

.app-sidenav {
    width: 230px;
}

.app-sidenav-content {
    padding: 5px;
    background-color: #EEEEEE;
}

.align-bottom {
    position: absolute;
    bottom: 10px;
    width: 100%;
}
::ng-deep .mat-content{
    align-items: flex-end;
    margin: 10px;
}
::ng-deep span .mat-content{
  
    margin-left: 10px;
}
button{
    width: 100%;
}

mat-toolbar{
    height: 50px;    
}